<footer>Made with by ❤ <a href="http://t.me/thecryptoreaper">Nick</a> | <a href="http://t.me/thecryptoreaper">Give Feedback</a> | <a href="http://t.me/thecryptoreaper">Contribute</a> | <a href="http://bloks.io/account/philostratus">Buy me a Coffee</a> |  {{getCurrentYear}}</foooter>
