<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About EOS CASINO STATS</title>
  </head>
  <body>
    <p>I built EOS CASINO STATS to monitor progress and adoption of decentralized Casinos and to map rebalancing of marketshare (user share) across competing projects.</p>
    {{> footer}}
  </body>
</html>
